@import url("colorschemes/darkgreen.css");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --font-title: "Fraunces", serif;
    --font-sans: "Space Grotesk", sans-serif;
}

body {
    background-color: var(--color-bg-1);
    color: var(--color-text-1);
    font-family: var(--font-sans);
    font-style: normal;
}

main {
    margin: 1em;
}

header {
    margin: 1em;
}

html,
body {
    height: 100%;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    /* Fixed height required */
}

body::before {
    background-image: url("/assets/grain.png");
    background-repeat: repeat;
    background-size: 10%;
    opacity: 0.05;
    content: "";
    z-index: 9999;
    inset: 0;
    pointer-events: none;
    position: fixed;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
}

.frame {
    border: 1px solid var(--color-border-subtle);
    padding: 1em;
    margin: 1em;
}




.invert-hover:hover {
    border: 1px solid;
    background-color: var(--color-text-1);
    color: var(--color-bg-1);
    border-color: var(--color-border-subtle);
}


.btn {
    border: 1px solid;
    background-color: transparent;
    font-family: var(--font-sans);
    font-weight: lighter;
    color: var(--color-text-1);
    border-color: var(--color-border-subtle);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.defult-hover:hover,
.btn:hover {
    border-color: var(--color-border-bold);
}

.link {
    text-decoration: none;
    position: relative;
    color: inherit;
}

.link:hover {
    text-decoration: none;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
}
