.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #9c9494;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  float: none;
  clear: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  direction: ltr;
  color: #342e2e;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.nav-logo {
  width: auto;
  height: 100%;
  float: left;
  background-clip: border-box;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.body {
  display: block;
  clear: both;
  background-color: #666565;
  color: #3a3939;
}

.div-block {
  position: relative;
  left: 63px;
  bottom: -39px;
  margin-right: 0px;
  float: right;
  clear: right;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading {
  color: #e6e6e6;
  text-align: center;
}

.tab-link-tab-3 {
  border-radius: 10px 10px 0px 0px;
  background-color: #53aaf6;
}

.tab-link-tab-3.w--current {
  background-color: #3898ec;
}

.tab-link-tab-2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #53aaf6;
}

.tab-link-tab-2.w--current {
  border-right: 3px solid #3898ec;
  background-color: #3898ec;
}

.tab-link-tab-1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #53aaf6;
}

.tab-link-tab-1.w--current {
  border-top-right-radius: 10px;
  background-color: #3898ec;
}

.tab-pane-code {
  border: 0px none #000;
  background-color: hsla(0, 0%, 46.4%, 0.81);
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
}

#w-node-_64cdd85d-d8c3-7e1e-ddab-3913916d16a0-118a7ed9 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-_64cdd85d-d8c3-7e1e-ddab-3913916d16a0-118a7ed9 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
