body{
    margin:0;
    background-color: rgb(163, 122, 76) ;
    display:flex;
    gap:0;
    align-items:center;
    flex-direction:column;
}
.sidebar{
  display:flex;
  flex-direction: column;
  align-items:center;
  position:sticky;
  flex-shrink:1;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  align-self: flex-start;

}
ul{
  list-style: none;
  padding:0;
  margin:0;
}
header{
  background-color: rgb(145, 110, 63);
  margin:0;
  justify-content:center;
  display:flex;
  width:100%;
  padding:0;
}
.main{
  background-color: rgb(123,143,12);
  display:flex;
  margin: 10%;
  margin-top: 0;
  margin-bottom:0;
  gap:10px;
  flex-direction: row;
}
.content{
  display:flex;
  
}
.bg {
  background: rgb(163, 122, 76) ;
  display: grid;
  grid-template-columns: 250px 1fr;
    height: 200vh;
}