<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {% include "header.html" %}
    <div class="inline align-top">
    {% include "sidebar.html" %}
    </div>
    <main class="inline top">
        <h1>My Website</h1>
        <p>Body</p>

        <div id=articles>
            <h1>Articles</h1>
            <ul class="frame">
            {% for post in collections.post | reverse %}
                <li>
                <a href="{{ post.url }}" class="link">{{ post.data.title }}</a> —
                <time datetime="{{ post.date }}">{{ post.date.toDateString() }}</time>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div></div>
        <button class="btn invert-hover">Awesome Button</button>
        <a href="/blog/">View all posts &rarr;</a>
    </main>

    {% include "footer.html" %}
    <div class="bg-overlay">
        <img src="/assets/forgetmenot.png">
        
    </div>
</body>

</html>
