<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ title }}</title>
</head>
<body >
  {% include "header.html" %}
  <main class="">
      <div class="inline align-top">
      {% include "sidebar.html" %}
      </div>
      <div class="inline frame ">
      {{ content | safe }}
      </div>
      <div class="bg-overlay">
          <img src="/assets/forgetmenot.png"></img>
      </div>
  </main>
  {% include "footer.html" %}
</body>
</html>
